.loader {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px dashed #fffdd0;
    animation: rotate 2s infinite ease;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
