.post {
    width: 70%;
    background: #fffdd0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 30px;
    margin-bottom: 40px;
}
.main-part {
    font-size: 20px;
}

.title {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.post button {
    margin-left: 30px;
}
